<div class='container'>
	<div>
		<ul class='clearfix tab-bar nav nav-tabs' ng-init="currentTab='hdfsExplorer'">
			<li class='tab-item' ng-class='currentTab == "hdfsExplorer"?"active":""'><a href ng-click='currentTab="hdfsExplorer"'>HDFS Explorer</a></li>
			<li class='tab-item' 	ng-class='currentTab == "hiveExplorer"?"active":""'><a href ng-click='currentTab="hiveExplorer"'>HIVE Explorer</a></li>
		</ul>
	</div>
	<div class='tab-panel' ng-show="currentTab=='hdfsExplorer'" >
		<div class='row'>
			<div class='col-sm-9'>
			
				<p><span translate>insert_credential_intro</span>
				<div class="alert alert-{{message.type}}" ng-show="message!=null" role="alert">
					<strong><i class='glyphicon glyphicon-{{message.type}}-sign'></i></strong>  {{message.text|translate}}
				</div>
				<form class="form-horizontal" name="hdfsExplorerForm" >
					<div class='form-group'>
						<div class=" col-sm-10">
							<input type="text" class="form-control" id="startPath" placeholder="e.g. /usr/tmp" ng-model="startPath"></input>
						</div>
						<div class="col-sm-2 ">
							<input type='submit' class=' form-control btn btn-primary' ng-click="start()" ></input>
						</div>
					</div>
				</form>
			</div>
			<div class='col-sm-3 text-right'>
				<img src='images/logo-hdfs.png' class='text-right' alt="HDFS" />
			</div>
		</div>
		<ng-include src="hdfsExplorerDirectiveUrl"></ng-include>
	</div>
	<div class='tab-panel'  ng-show="currentTab=='hiveExplorer'">
		<div class='row'>
			<div class='col-sm-9'>
			&nbsp;
			</div>
			<div class='col-sm-3 text-right'>
				<!-- <img src='images/logo-hive.png'  height='96px' alt='HIVE'></img> -->
			</div>
		</div>
		<ng-include src="hiveExplorerDirectiveUrl"></ng-include>
		
	
	</div>
</div>